# Logs
logs
*.log

# Editor directories and files
.vscode
.idea

*.ipynb_checkpoints
.pytest_cache/
.cache
.pytest_cache
.config
.ipython
.jupyter

# Excluded directories
data
results
lightning_logs/*

# Ignore virtual environment directories
.venv*/

# python
__pycache__
.pytest_cache
*.py[cod]
*.egg-info/
*.DS_Store
.ipynb_checkpoints

# git
.ssh/*
.git
.gitconfig

# Tests output
tests/tests_data/*